body {
    font-family: Arial, sans-serif;
}

.button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1.5rem;
    cursor: pointer;
    border-radius: 50px; /* Full rounded corners for a pill shape */
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
}

.button:hover {
    background-color: #2060DF;
    color: #fff;
}
